/* Simple CSS reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #FFF;
    font-family: Open Sans, sans-serif;
}

h1, h2, h3, p {
    background-color: inherit;
    word-wrap: break-word;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%; 
    margin: auto; /* center images */
}

.App-mainContainer {
    padding: 2%; /* some general padding to move away the elements inside from the browser edges */
}

    .App-title {
        font-size: 1.5em;
        color: #A5050F; /* HotSauce red-brown color picked from the mock-up */
        padding: 1% 0 3% 5%; /* move title a little to right side as per design */
    }

    .App-hotSauceListContainer {
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
    }

        .HotSauceBox {
            order: 1;
            width: 23%; /* 23% because need some space in betwwen the boxes according the design presented in the mock-up */
            position: relative;
            margin-bottom: 2%; /* added for space between rows to eye match the gap between boxes afte justify-content styling */
        }

        .HotSauceBox:hover {
            cursor: default;
        }

            .HotSauceBox-imageContainer {
                position: relative;
                width: 100%;
                height: 36%; /* 36% trying to match as much as possible the width created for the HotSauceBox */
                border: 1px solid #E2E2E2; /* slightly grey color for border around image as per mock-up */
            }
            
                .HotSauceBox-imageContainer > img { /* attempting to center the image inside the container */
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            
                .HotSauceBox-removeButton {
                    position: absolute;
                    top: 10px; /* less than right because accounting for line-height */
                    right: 20px;
                    z-index: 1; /* position the button on top */
                    color: #f1f1f1; /* slightly grey color picked from mock-up */
                    font-size: 30px;
                    font-weight: bold;
                    transition: 0.3s;
                }

                .HotSauceBox-removeButton:hover,
                .HotSauceBox-removeButton:focus {
                    color: #bbb; /* emphasize focusing or hovering over the button */
                    cursor: pointer;
                }

            .HotSauceBox-labelContainer {
                padding: 5%;
                height: 15%;
                color: #858585;
                background-color: #F2F2F2;

            }
        
                .HotSauceBox-labelContainer > h3 {
                    font-size: 180%;
                }
                
                .HotSauceBox-labelContainer > p {
                    font-size: 85%;
                }
/* _____________________________________________________    
        Below styles for the detail page */

    .HotSauceDetail-wrapperContainer { /* this component on creation will cover the initial rendered component without removing it */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }
    
    .left-title-image {
        float: left;
        width: 65%;
    }
        .header-title {
            background-color: #E5E5E5;
            padding: 3% 0 3% 10%;
        }
        a {
            background-color: inherit;
            text-decoration: none;
            font-size: 1.5em;
            color: #A5050F;
            margin: 0;
        }
        .header-title>h1 {
            color: #717171;
            background-color: inherit;
            margin: 0;
            margin-top: 5%;
            font-weight: 300;
        }
        .detail-image {
            background-color: #DEDEDE;
            padding: 5% 0;
        }
            .detail-image>img {
                display: block;
                height: 70%;
                width: auto;
                border: none;
                margin: 0 auto;
                mix-blend-mode: multiply;
            }

    .right-description {
        float: left;
        width: 35%;
        padding: 5% 2%;
    }
        .right-description>p {
            white-space: wrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }



/* Responsive layout - makes a two column-layout instead of four columns */
@media only screen and (max-width: 900px) {
    
    .App-title {
        font-size: 1em;
    }
    
    .HotSauceBox {
        width: 48%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media only screen and (max-width: 600px) {
    
    .App-title {
        font-size: 0.7em;
    }

    .HotSauceBox {
        width: 100%;
    }
    
    .left-title-image,
    .right-description {
        width: 100%;
        float: none;
    }
}