* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    padding: 1.5%;
}
    header>h1 {
        font-size: 3em;
        color: #A5050F;
        margin: 1%;
        margin-left: 5%;
    }

/* Create four equal tiles that floats next to each other */
.tile {
    float: left;
    width: 25%;
    /* height: 400px; */
    padding: 1%;
}
    img {
        width: 100%;
        height: auto;
        border: 1px solid #E2E2E2;
    }
    .label {
        padding: 5%;
        height: 15%;
        background-color: #F2F2F2;
        color: #858585;
    }
    .label>h3,p {
        background-color: #F2F2F2;
    }
    .label>h3 {
        font-size: 200%;
    }
    .label>p {
        font-size: 85%;
    }



/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 900px) {
    .tile {
        width: 50%;
    }
    header>h1 {
        font-size: 2em;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .tile {
        width: 100%;
    }
}