* {
    /* outline: 1px dotted red; */
    box-sizing: border-box;
}

body {
    background-color: white;
    padding: 20px;
    font-family: Arial;
}


/* Create four equal tiles that floats next to each other */
.tile {
    float: left;
    width: 25%;
    height: 400px;
}

    img {
        width: 100%;
        height: 100%;
    }





/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 900px) {
    .tile {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .tile {
        width: 100%;
    }
}